
.hidden{
    display: none;
}

.gridCasePokemon{

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.pokemonCaseDiv{
    margin-left: auto;
    margin-right: auto;
}

#divButtonPage{
    display: inline-block;
    text-align: center;
}

#divButtonPage button{
    display: inline-block;
}

#idTextPage{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}