.casePokemon{
    width: 150px;
    height: 250px;
    display: inline;
}
.casePokemon img{
  width: 100px;
  height: 100px;
}

#namePokemon{
  margin-left: auto;
  margin-right: auto;
}
.typePokemon{
  width: 50%;
  display: inline-block;
}
.typesPokemon{
  align-items: center;
}

.typePokemon img{
  width: 30px;
  height: 30px;
}